{% extends 'base.html' %}

{% block content %}
<div class="container">
    <br>

    <h2>StudyTime: How it works?</h2>
    <p>StudyTime is an open source productivity tool, created to help self-learners to keep track of their performance, while keeping them motivated recording their achievements.</p>
    <p>One of the most difficult thing for a self-learner is to be realistic on what are they spending their time, and to be motivated when results last to come.</p>
    <p>With StudyTime you can start tracking your performance on your self-learning path.</p>
    <br>

    
    <h3>What is a Project?</h3>
    <p>A Project is a skill you want to develop or something that you want to learn.</p>
    <p>Every Project contains any number of Categories inside it, all of them created by yourself on demand.</p>
    <p>Create a new Project and populate it with as many Categories as you need.</p>
    <br>
    
    <h3>What is a Category?</h3>
    <p>A Category is a specific task you need to do in order to master the project subject.</p>
    <p>Every Category has the capability to track Sessions and Milestones.</p>
    <br>

    <h3>Sessions and Milestones</h3>
    <p>A Session is a date with a number of minutes related to it. Its purpose is to track when and how much time you spend on that Category.</p>
    <p>A Milestone is a litle text with a date and a litle description related to it. Its purpose is to track when and what you want to achieve in regards to its parent Category, and to mark it when you finally do.</p>
    <br>

    <h3>An example: learning to code</h3>
    <p>Imagine that you want to learn how to code.</p>
    <p>If so, you will need to learn a few things:</p>

    <ul>
        <li>Coding fundamentals</li>
        <li>Programming language specifics</li>
        <li>Other tools that help programmers do their stuff.</li>
    </ul>
    
    <p>In this scenario, the Project could be "Learn to Code", and a good Category would be "Fundamentals"</p>
    <p>Inside every Category you could track how much time you spend on it, and what are your expected achievements (Milestones).</p>

            
</div>
{% endblock %}
