{% extends 'base.html' %}

{% block content %}

<main class="flex-fill">
    <div class="container">
        {% if projects %}

            <div class="p-3">
                <h2>Your projects:</h2>
                <a class="btn pmd-btn-fab pmd-ripple-effect btn-light pmd-btn-raised" type="button" href="{% url 'del_project' %}"><i class="material-icons pmd-sm">Delete Project</i></a>
            </div>

            <div class="row">
                {% for project in projects %}
                <div class="col-sm-6 p-1">
                    <!-- <a href="category/{{ category.category_name }}"> -->
                    <a href="{% url 'category_listview' project %}">
                    
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ project.project_name }}</h5>
                        </div>
                    </a>
                </div>
            </div>
                {% endfor %}

        {% else %}
        <div class="p-3">
            <div class="row">
                <div class="col text-center">
                    <h2>You haven't any Project yet</h2>
                    <p>Create a new project to start using our features:</p>
                    <a class="btn pmd-btn-fab pmd-ripple-effect btn-light pmd-btn-raised" type="button" href="{% url 'add_project' %}"><i class="material-icons pmd-sm">Create a new Project</i></a>
                    <a class="btn pmd-btn-fab pmd-ripple-effect btn-light pmd-btn-raised" type="button" href="{% url 'help' %}"><i class="material-icons pmd-sm">How it works?</i></a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</main>

<!-- Spacer -->
<div class="mb-5 p-1"></div>

<footer class="footer mt-auto py-2 bg-light fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <a class="btn pmd-btn-fab pmd-ripple-effect btn-light pmd-btn-raised" type="button" href="{% url 'add_project' %}"><i class="material-icons pmd-sm">New Project</i></a>
            </div>
        </div>
    </div>
</footer>

{% endblock %}
