{% extends 'base.html' %}

{% block content %}
<main class="flex-fill">
    <div class="container">
        <div class="p-3">
            <div class="row">
                <div class="col text-center">
                    <h2>Wellcome to StudyTime</h2>
                    <p>Please, login or register to use our features:</p>
                    <a class="btn pmd-btn-fab pmd-ripple-effect btn-light pmd-btn-raised" type="button" href="{% url 'login' %}"><i class="material-icons pmd-sm">Login</i></a>
                    <a class="btn pmd-btn-fab pmd-ripple-effect btn-light pmd-btn-raised" type="button" href="{% url 'register' %}"><i class="material-icons pmd-sm">Register</i></a>
                </div>
            </div>
        </div>

    </div>
</main>


{% endblock %}